$accordian_text: #ccc !default;
$accordian_backgroud: #ffffff !default;
$accordian_active: #f1f9fe !default;
$accordian_view-padding : 10px 20px 10px 40px !default;

.accordian{
    position: relative;
    list-style-type: none;
    font-size: 16px;
    text-align: left;
    background: $accordian_backgroud;
    &__title{
        font-weight: 700;
        line-height: 30px;
        padding: 10px 20px;
        cursor: pointer;
    }
    &-open{
        background-color: $accordian_active;
    }
    &__view{
        padding: $accordian_view-padding;
    }
    &-arrow {
        position: absolute;
        font-size: 23px;
        width: 20px;
        height: 20px;
        right: 7px;
        top: 15px;
        color: $accordian_text;
        transform: scaleY(0.5);
        cursor: pointer;
      }
    &-arrowUp{
        transform: scaleY(-0.5);
      }
    
}